{% extends "base.html" %}

{% block title %}Профиль {{ user.username }}{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-card">
        <div class="profile-avatar">
            {% if avatar_exists %}
                <img src="{{ avatar_path }}" alt="Avatar" class="avatar-img">
            {% else %}
                <div class="avatar-placeholder"><i class="fa-solid fa-user"></i></div>
            {% endif %}
        </div>
        <div class="profile-info">
            <h1>{{ user.username }}</h1>
            <p><strong>Email:</strong> {{ user.email }}</p>
            {% if current_user.role.name in ('MODERATOR', 'ADMIN') %}
            <p><strong>Права:</strong> {{ user.role.value }}</p>
            {% endif %}
            <p>Зарегистрирован: <span data-utc-time="{{ user.created_at.strftime('%Y-%m-%d %H:%M:%S') }}"></span></p>
            {% if current_user.id == user.id %}
                <a href="{{ url_for('profile.edit') }}" class="btn btn-primary" style="margin-top: 10px;"><i class="fa-solid fa-pen"></i> Редактировать профиль</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}