<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>{% block title %}Форум программистов{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    {% block head_extra %}{% endblock %}
</head>
<body>
    <header class="site-header">
        <div class="container">
            <div class="logo">
                <a href="{{ url_for('main.index') }}"><i class="fa-solid fa-laptop-code"></i> CodeForum</a>
            </div>
            <nav class="main-nav">
                <ul>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('profile.view', user_id=current_user.id) }}"><i class="fa-regular fa-circle-user"></i> Профиль ({{ current_user.username }})</a></li>
                        {% if current_user.is_admin() %}
                            <li><a href="{{ url_for('admin.users') }}"><i class="fa-solid fa-screwdriver-wrench"></i> Админ.панель</a></li>
                        {% endif %}
                        <li><a href="{{url_for('auth.logout')}}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Выйти</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}"><i class="fa-solid fa-arrow-right-to-bracket"></i> Вход</a></li>
                        <li><a href="{{ url_for('auth.register') }}"><i class="fa-regular fa-square-check"></i> Регистрация</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-content">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
