{% extends "base.html" %}

{% block title %}Новая тема — {{ section.title }}{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Новая тема в разделе «{{ section.title }}»</h1>
    
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Заголовок</label>
            <input type="text" name="title" id="title" required autofocus>
        </div>
        
       <div class="form-group">
            <label>Тип темы</label>
            <div class="thread-type-selector">
                
                <input type="radio" name="thread_type" id="type_question" value="question" checked>
                <label for="type_question" class="type-btn tag-question"><i class="fa-solid fa-circle-question"></i> Вопрос или задача</label>

                <input type="radio" name="thread_type" id="type_discussion" value="discussion">
                <label for="type_discussion" class="type-btn tag-discussion"><i class="fa-solid fa-comments"></i> Открытое обсуждение</label>

                <input type="radio" name="thread_type" id="type_article" value="article">
                <label for="type_article" class="type-btn tag-article"><i class="fa-solid fa-newspaper"></i> Статья или туториал</label>

                <input type="radio" name="thread_type" id="type_showcase" value="showcase">
                <label for="type_showcase" class="type-btn tag-showcase"><i class="fa-solid fa-gears"></i> Проект или портфолио</label>

                <input type="radio" name="thread_type" id="type_resource" value="resource">
                <label for="type_resource" class="type-btn tag-resource"><i class="fa-solid fa-book"></i> Полезный материал</label>
            </div>
        </div>

        <div class="form-group">
            <label for="attachment">Вложение (файл)</label>
            <input type="file" name="attachment" id="attachment">
            <small>Максимум 16MB. Разрешены: png, jpg, jpeg, gif, txt, pdf, zip</small>
        </div>
        
        <div class="form-group">
            <label for="content">Содержание (Markdown)</label>
            <textarea name="content" id="content" rows="10" required placeholder="**Жирный**, *курсив*, `код`..."></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Создать тему</button>
        <a href="{{ url_for('main.section_by_codename', codename=section.codename) }}" class="btn">Отмена</a>
    </form>
    
    <div class="markdown-hint">
        <h3>Подсказка по Markdown:</h3>
        <ul>
            <li><code>**жирный**</code> → <strong>жирный</strong></li>
            <li><code>*курсив*</code> → <em>курсив</em></li>
            <li><code>```python\nprint('hello')\n```</code> → блок кода</li>
            <li><code>[текст](ссылка)</code> → гиперссылка</li>
        </ul>
    </div>
</div>
{% endblock %}